<% # if not_signed_in? %>
  <div class="brand-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          Brand
        </div>
        <div class="col-sm-6">
          login
        </div>
      </div>
    </div>
  </div>
<% # end %>