<% # if not_signed_in? %>
  <div class="brand-bg d-flex align-items-center" id="nav">
    <div class="container w-75" id="nav-content">
      <div class="d-flex justify-content-between">
        <div class="">
          Maskbook
        </div>
        <div class="d-flex justify-content-end">
          <%= render  'devise/sessions/inline_new' %>
          <!-- <div class="inline-login" id="email-wrap">Hello</div>
          <div class="inline-login" id="pass-wrap">Adriaan</div>
          <div class="inline-login" id="signin-wrap">Maya</div> -->
        </div>
      </div>
    </div>
  </div>


<% # end %>