<div class="brand-bg d-flex align-items-center" id="nav">
  <div class="container w-75" id="nav-content">
    <div class="d-flex justify-content-between row">
      <div class="brand-logo">
        Maskbook
      </div>
      <div  id="login-form" class="d-flex justify-content-end">
        <%= render  'devise/sessions/inline_new' %>
      </div>
    </div>
  </div>
</div>