<div class="brand-bg d-flex align-items-center" id="login-nav">
  <div class="container nav-content">
    <div class="d-flex justify-content-between row">
      <div class="brand-logo">
        MaskBook
      </div>
      <div  id="login-form" class="d-flex justify-content-end">
        <%= render  'devise/sessions/inline_new' %>
      </div>
    </div>
  </div>
</div>