<div class="request-block d-flex">
	<div class="request-img-wrapper">
		<%= gravatar_for(user, 'request-img img-fluid') %>
	</div>
	<div class="pl-3 d-flex justify-content-between request-details-block">
		<div class="request-details d-flex">
			<%=link_to user.full_name, profile_path(user.username), class: 'request-name' %>
		</div>
		<div class="ml-2 confirmation d-flex align-items-center">
			<%=link_to 'Cancel Request', profile_friend_request_path(current_user.username, request),  class: 'btn delete-request ml-2',
          		method: :delete,
              data: { confirm: 'Are you sure?'} %>
		</div>
	</div>
	
</div>