<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="card requests bg-light w-100">
      <div class="card-head d-flex justify-content-between align-items-center">
        <h2 class="my-2 pl-3 text-muted">Respond to Friend Requests</h2>
        <%= link_to 'View received requests', requests_received_requests_path, class: 'request-link mr-4' %>
      </div>
      <div class="card-body">
        <% @requestees.each do |requestee| %>
          <% @request = FriendRequest.where(["requester_id = ? and requestee_id = ?", current_user.id, requestee.id]).pluck(:id).first %>
          <%= render 'requests/sent_requests/single_request', user: requestee, request: @request %>
          <% if requestee != @requestees.last %>
            <hr class="my-3">
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>