<div class="request-block d-flex">
	<div class="request-img-wrapper">
		<img src="#" alt="test" class="request-img img-fluid">
	</div>
	<div class="pl-3 d-flex justify-content-between request-details-block">
		<div class="request-details d-flex">
			<%=link_to 'person name', '#', class: 'request-name' %>
		</div>
		<div class="ml-2 confirmation d-flex align-items-center">
			<%=link_to 'Confirm', '#', class: 'btn confirm-request' %>
			<%=link_to 'Delete Request', '#', class: 'btn delete-request ml-2' %>
		</div>
	</div>
	
</div>