<div class="card requests">
	<div class="card-head">
		<h2 class="mb-0">Respond to Friend Requests</h2>
		<%= link_to 'view sent requests', requests_sent_requests_path, class: 'request-link' %>
	</div>
  <div class="card-body">
    <%= render 'requests/received_requests/single_request'%>
  </div>
</div>
