<div class="card requests">
	<div class="card-head">
		<h2 class="mb-0">Respond to Friend Requests</h2>
		<%= link_to 'view sent requests', requests_sent_requests_path, class: 'request-link' %>
	</div>
  <div class="card-body">
  	<% @requesters.each do |requester| %>
  		<% @request = FriendRequest.where(["requester_id = ? and requestee_id = ?", requester.id, current_user.id]).pluck(:id).first %>
  		<%= render 'requests/received_requests/single_request', user: requester, request: @request %>
  		<hr class="my-3">
  	<% end %>
    
  </div>
</div>
