/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import 'font_awesome5_webfont';
@import 'bootstrap';
@import 'navbar';

$blue: #3c5a99;

.brand-bg {
	background-color: $blue;
	color: #fff;
}

#nav { 
  height: 82px;
}

#nav-content {
  
}

.p-left {
  font-size: 17px;
}

#title-left {
  font-size: 28px;
}

#title-right {
  font-size: 36px;
}

#subtitle-right {
  font-size: 16px;
}

.gender-labels {
  font-size: 18px;
}

#terms {
  font-size: 11px;
}

#promo-text {
  font-size: 13px;
}
